@import url('https://fonts.googleapis.com/css2?family=Blinker&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body{
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
   margin: 0px;
   padding:0;
}

.container{
    height: 100vh;
    margin-top: -10px;
    background:#006EA9;
}

.navbar{
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo{
    margin-left:50px;
}

.heading{
    font-family: 'Blinker', sans-serif;
    font-weight:500px;
    font-size:30px;
}

.logo p{
    margin-top:-35px;
    font-weight:lighter;
    font-size: 10px;
}

.navbar ul{
    display:flex;
}

ul li{
    display:flex;
    padding:39px
}

.navitem{
    margin-left: 295px;
}

.btn{
    width:120px;
    height: 40px;
    border-radius: 3px;
    border:none;
    margin-right: 65px;
    cursor: pointer;
}

.maincontent{
    margin-top:55px;
}

.content{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left: -180px;
}

.content h2{
    color:white;
    font-size:45px;
    font-weight: 600;
}

.maincontent p{
    color:white;
    margin-left: 460px;
    font-size: 18px;
    margin-top: -35px;
    opacity: 0.9;
}

.image{
    height:200px;
    width:200px;
    margin-left: 30px;
}

.bottomdesign{
    height:200px;
    width:200px;
    margin-left: 950px;
    margin-top: -35px;
}

.icon-up{
    height:30px;
    width:30px;
}

.middlepart1{
    display:flex;
    align-items:center;
    justify-content:center;
}

.middlecontent{
    padding:50px;
    margin-top:15px;
}

.midheading h3{
    font-size:30px;
    font-weight: 600;
    margin-bottom: 5px;
}

.para{
    font-size:15px;
    font-weight: 400;
}

.listitem{
    display:flex;
    margin-top:-10px;
}

.listitem p{
    display:flex;
}

/* .tick{
} */


.btr{
    margin-top:15px;
    height: 38px;
    width: 165px;
    padding: 10px;
    background-color: #007CC2;
    border:0;
    color: white;
    border-radius:3px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.12);
}

.middlepic{
    margin-left: 60px;
    position: relative;
}

.middlepic img{
    margin-top: -80px;
    margin-left: 40px;
    height:320px;
    width:320px;
    border-radius:0px 80px 0px 0px;
}

.f{
    position:absolute;
    top:40px;
    left:-50px;
}

.about{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin-top:-10px;
}

.heading2{
    color: #007CC2;
    font-size:30px;
    font-weight:600;
}

.des{
    margin-top:-55px;
}

.midconatiner{
    display:flex;
    align-items:center;
    justify-content:center;
}

.box{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    background-color: #007CC2;
    height: 270px;
    width: 270px;
    margin:40px;
    color:white;
    border-radius: 15px;
}

.title{
    font-size:20px;
    margin-top:-30px;
}

.text{
    margin-top:10px;
    font-size: 12px;
}

.button{
    margin-top:40px;
}

.morebtn{
    height:30px;
    width:140px;
    color:#007CC2;
    background-color: white;
    border: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.12);

}

.extra{
    margin-top:40px;
    padding:5px;
}

.bg{
    display: flex;
    flex-direction: row;
    background-color:white;
    color:black;
    margin-top:-20px;
    margin-left: 65px;;
}

.title1{
    font-size:16px;
    font-weight:500;
    margin-bottom:15px;
    margin-left: 5px;
}

.text1{
    font-size:12px;
}

.upcircle{
    margin-top:-72px;
}

.extra2{
    margin-top:-55px;
    padding:5px;
}

.connected{
    display:flex;
    margin-top:50px;
    }

.bg1{
    display: flex;
    flex-direction:column;
    background-color:white;
    color:black;
    margin-top:-20px;
    margin-right: 15px;
    position:relative;
    border-radius: 20px;
    box-shadow: 0 12px 12px rgba(107, 107, 107, 0.3);
    border: 1px solid #C4C4C4;
}

.bg3{
    margin-left:140px;
    padding:10px
}

.notification{
position: absolute;
padding: 10px;
top: 0;
left:0;
font-size: 16px;
font-weight: 600;
}

.markasread{
padding: 10px;
position: absolute;
top: 0;
right: 0;
color: #007CC2; 
font-size: 12px;
margin-top:20px;
}

.header{
    margin-top: 130px;
}

.header1{
    margin-top: 85px;
}

.ex1{
    font-size: 12px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    padding: 6px;
    align-items: center;
    justify-content: center;
    margin-top: -55px;
}

.pic{
    margin-left:5px;
}

.text1 p{
    position:absolute;
    left:0;
    margin-top:25px;
    margin-left: 75px;
    font-weight: lighter;
}

.ex2{
    margin-top:60px;
    margin-bottom: 50px;
}

.viewall{
    font-size:12px;
    margin-left: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #007CC2; 
    padding: 10px;
}

.bg2{
    width: 700px;
    position:relative;
    padding:10px
}

.ex5{
    display:flex;
    align-items:left;
    justify-content:end;
    margin-left: -600px;
}

.title3{
    margin-left: 20px;
}

.t5{
    position:absolute;
    top:0;
}

.user{
    margin-top: -15px;
    margin-left: -10px;
}

 .t1 p{
    margin-top: 5px;
    margin-left: 60px;
} 

.ex6{
    margin-top:10px;
}

/* .backgdimage{
    display:flex;
} */

.image1{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left: -200px;
} 

.heart{
    height:500px;
    width:1100px;
}

.mid{
    margin-left: -330px;
    margin-top: 15px;
}

.play{
    margin-left: 22px;
    margin-top: 7px;
}

.center{
    margin-left:-250px
}

.btc{
    width:1098px;
}

.btc1{
    margin-left:386px;
}

.bottom{
    margin-top: -76px;
    margin-left: 345px;
}

.ex7{
    margin-top:100px
}

.persons{
    display:flex;
    margin-top:20px
}

.reactangle{
    background-color:#F8F8F8;
    margin-left: 150px;
    width: 450px;
    height: 166px;
    margin-top: 20px;
    border-radius: 16px;
}

.profile{
    display:flex;
    position:relative;
}

.r1{
    margin-left: 90px;
}

.proinfo{
    margin-top:30px;
    margin-left:20px;
}

.name{
    font-size:18px;
    font-weight: 500;
    margin-bottom:20px;
}

.pos{
    font-size: 12px;
    font-weight:lighter;
}

.v1{
    font-size:12px;
    margin-left:-15px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #007CC2; 
    padding: 10px;
    margin-right: 15px;
}