@import url('https://fonts.googleapis.com/css2?family=Blinker&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body{
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
   margin: 0px;
   padding:0;
}

.container{
    height: 100vh;
    margin-top: 0px;
    background:#006EA9;
}

.navbar{
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo{
    margin-left:50px;
}

.heading{
    font-family: 'Blinker', sans-serif;
    font-weight:600px;
    font-size:30px;
}

.logo p{
    margin-top:-35px;
    font-weight:lighter;
    font-size: 10px;
}

.navbar ul{
    display:flex;
}

ul li{
    display:flex;
    padding:39px
}

.navitem{
    margin-left: 295px;
}

.btn{
    width:120px;
    height: 40px;
    border-radius: 3px;
    border:none;
    margin-right: 65px;
    cursor: pointer;
}

.maincontent{
    margin-top:55px;
}

.content{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left: -180px;
}

.content h2{
    color:white;
    font-size:45px;
    font-weight: 600;
}

.maincontent p{
    color:white;
    margin-left: 460px;
    font-size: 18px;
    margin-top: -35px;
    opacity: 0.9;
}

.image{
    height:200px;
    width:200px;
    margin-left: 30px;
}

.bottomdesign{
    height:200px;
    width:200px;
    margin-left: 950px;
    margin-top: -35px;
}

.icon-up{
    height:30px;
    width:30px;
}

.middlepart1{
    display:flex;
    align-items:center;
    justify-content:center;
}

.middlecontent{
    padding:50px;
    margin-top:15px;
}

.midheading h3{
    font-size:30px;
    font-weight: 600;
    margin-bottom: 5px;
}

.para{
    font-size:15px;
    font-weight: 400;
}

.listitem{
    display:flex;
    margin-top:-10px;
}

.listitem p{
    display:flex;
}

/* .tick{
} */


.btr{
    margin-top:15px;
    height: 38px;
    width: 165px;
    padding: 10px;
    background-color: #007CC2;
    border:0;
    color: white;
    border-radius:3px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.12);
}

.middlepic{
    margin-left: 60px;
    position: relative;
}

.middlepic img{
    margin-top: -80px;
    margin-left: 40px;
    height:320px;
    width:320px;
    border-radius:0px 80px 0px 0px;
}

.f{
    position:absolute;
    top:40px;
    left:-50px;
}

.about{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin-top:-10px;
}

.heading2{
    color: #007CC2;
    font-size:30px;
    font-weight:600;
}

.des{
    margin-top:-55px;
}

.midconatiner{
    display:flex;
    align-items:center;
    justify-content:center;
}

.box{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    background-color: #007CC2;
    height: 270px;
    width: 270px;
    margin:40px;
    color:white;
    border-radius: 15px;
}

.title{
    font-size:20px;
    margin-top:-30px;
}

.text{
    margin-top:10px;
    font-size: 12px;
}

.button{
    margin-top:40px;
}

.morebtn{
    height:30px;
    width:140px;
    color:#007CC2;
    background-color: white;
    border: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.12);

}